@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px; border:none; font-size:15px;}
.header{ background:url(../images/header.gif) no-repeat; width:1200px; height:70px; margin:auto auto;}
ul{ list-style-type:none; width:auto; height:45px; float:left; margin-top:12px;}
li{ padding:0 15px; float:left; height:45px; line-height:45px;}
img{ width:25px;  height:25px; margin-right:5px; vertical-align:middle;}
a{ color:#000000; text-decoration:none;}
.header_1{ float:right; margin-right:2%;}
.denglu{ height:51px; background-color:#C70A0E; border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
.denglu:hover a{ color:#FF0;}

